.container-feed {
  width: 100%;
}

.container-feed .img-post {
  margin-bottom: 10px;
}

.container-feed-post-header {
  display: flex;
  flex-direction: row;
}

.container-img-avatar-feed {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  width: 40px;
}
